/*The header element should have a 1px border. You choose the color.
Convert the ul in the navigation element into a series of horizontal links with # as the href value, without bullets, and have some space between them horizontally.
Ensure that the navigation is semantically marked as such (i.e. wrap it in the correct HTML tag).
Any text in an element with class "disabled" should be colored grey, unless it is inside an anchor tag. If inside an anchor, it should be colored purple.
Any text inside an element with a class of "active" should be colored yellow.
Section elements should be contained within an article element.
There are two missing closing tags in this document. Make sure you add them back in.
Make the "I'm red" text colored red.
Make the "I'm blue" text colored blue.
The sibling h4 of the red element should have a background color of red.
The sibling h4 of the blue element should have background color of blue.
Any h4 that is a direct child of grandparent should have a 1px border with rounded corners.

Elements with a class of promo should have bold text that is also colored gold.

Without adding any other attributes to the input fields in the footer, write a CSS selector that makes any text input field have a height of 25px.
*/

header{
    border: 1px;
    border-color: blueviolet;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.disabled{
    color: grey;
}

.a > .disabled {
        color: purple;
    }

.active{
        color: yellow;
    }


.iamRed {
        color: red;
      }

.iamRedB{
    background-color: red;
}
.iamBlue { 
        color: blue;
      }

.iamBlueB{
    background-color: blue;
}

.grandparent > h4 {
	border: 1px solid black;
	border-radius: 5%;
}

.promo{
    color: gold;
    
}